<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962991436322-tmm4brm0nvbavbri1p1ooaeaka7grdse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962991436322-tmm4brm0nvbavbri1p1ooaeaka7grdse</string>
	<key>API_KEY</key>
	<string>AIzaSyCMDkCGGILFNJV8T4Q2-4nGthaSYYItL84</string>
	<key>GCM_SENDER_ID</key>
	<string>962991436322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brior.us.-01</string>
	<key>PROJECT_ID</key>
	<string>project-2791166546572601683</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2791166546572601683.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962991436322:ios:87234549960cc99ea5d07b</string>
</dict>
</plist>